/*General stuff*/
h1, h2, h3, h4, h5, nav {
	font-family: 'Cinzel';
}

h5 {
	font-size: 16px;
}

body {
	font-family: 'Lato';
	font-size: 14px;
	display: none;
}

.jump {
	position: absolute;
	left: -1000px;
}

.jump:focus {
	left: 0;
	right: 0;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.title {
	font-family: 'Cinzel';
	background-color: black;
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 115px;
	font-size: 96px;
	color: #FFDF00;
	opacity: .75;
	top: 5%;
}

.cosmere-intro {
	display: block;
	/*background-color: black;*/
	opacity: .75;
	font-family: 'Cinzel';
	position: absolute;
	text-align: center;
	top: 50%;
	left: 25%;
	right: 25%;
	padding: 3%;
	width: 50%;
	color: #FFDF00;
	border-radius: 10px;
}

/*Nav*/

nav.main {
	/*display: block;*/
	position: fixed;
	top: 0;
	z-index: 1;
	text-align: center;
	background-color: #01365b;
	width: 100%;
	display: none;
}

.navbar-nav {
	width: 100%;
}

nav img {
	height: 8vh;
}

nav .nav-item {
	font-size: 14px;
	text-decoration: none;
	color: white;
}

a:hover {
	color: #a1ddff;
	text-decoration: none;
}

.explore {
	text-align: center;
	position: relative;
	font-family: 'Cinzel';
	font-size: 20px;
}

footer {
	height: 10vh;
	width: 100%;
}

/*Main page*/
.banner {
	background-color: black;
	background-image: url("../img/cosmere.jpg");
	width: 100%;
	height: 100vh;
}

.start {
	font-family: 'Cinzel';
	text-align: center;
	position: relative;
	font-size: 21px;
}


.roadmap {
	text-align: center;
	font-size: 14px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: start;
	margin: 5% 10% 5% 10%;
	grid-column-gap: 10%;
}

.world {
	font-family: 'Cinzel';
	border-radius: 5px;
	color: white;
	background-color: #01365b;
	font-size: 25px;
	padding: 8%;
}

.world:hover {
	background-color: #01365b;
	color: #ffc200;
}

.fa-long-arrow-alt-down {
	color: #01365b;
}

.reading {
	font-family: 'Cinzel';
	border: solid 1px #01365b;
	border-spacing: 25%;
    padding: 5%;
    border-radius: 5px;
}

.reading:hover {
	background-color: #01365b;
	color: white;
}

.book-desc {
	font-family: 'Lato';
}

.author_note {
	text-align: center;
	padding: 5%;
	margin-left: 10%;
	margin-right:10%;
}

.author_note b {
	font-family: 'Cinzel';
}

/*Main stuff for Book series pages*/

.summary {
	position: relative;
	display: flex;
	padding: 2%;
	border: solid 2px;
	border-radius: 5px;
	margin-left: 10%;
	margin-right: 10%;
	line-height: 30px;
	margin-top: 10%;
}

.intro, .synopsis {
		padding: 0 2% 0 2%;
		height: 500px;
		overflow: auto;
}

.images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
}

.images img {
	display: inline-block;
	height: 30vh;
	padding-bottom: 20px;
}

.section-headers {
	margin-left: 10%;
	margin-top: 5%;
}

.magic {
	justify-content: space-between;
	border: solid 2px #a30000;
	border-radius: 5px;
	padding: 2%;
	margin-left: 10%;
	margin-right: 10%;
}


/***********Mistborn***********/
.mist-ban {
	background-color: black;
	background-image: url("../img/mistborn/gisalmeida-main.jpg");
	width: 100%;
	height: 100vh;
}
.mistborn-sum {
	border-color: #a30000;
}

.magic h3 {
	text-align: center;
}

.metals {
	display: grid;
	grid-template-columns: .25fr 1fr 1fr;
	grid-column-gap: 5%;
}

.metals h4 {
	display: flex;
	align-items: center;
	font-size: 20px;
}

.metals p {
	height: 100%;
	display: flex-inline;
}

.mag-desc {
	text-align: center;
}

/**************Elantris****************/

.elantris-color {
	border-color: #ffbc00;
}

.elan-ban {
	background-color: black;
	background-image: url("../img/elantris/elantris-main.jpg");
	width: 100%;
	height: 100vh;
}

.aondor {
	text-align: center;
}

.aon {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-right: 10%;
	margin-left: 10%;
	grid-row-gap: 20px; 
	margin-top: 3%;
}

.spell {
	flex-direction: column;
	text-align: center;
	height: 30vh;
}

.elan-back {
	overflow: auto;
}

.aon img {
	display: block;
    margin: auto;
    height: 10vh;
}

 /*Warbreaker*/

.warbreaker-color {
	border-image: linear-gradient(to bottom, red, orange, yellow, green, blue, purple);
	border-image-slice: 1;
}

.war-ban {
	background-color: black;
	background-image: url('../img/warbreaker/warbreaker-main.jpg');
	width: 100%;
	height: 100vh;
}

.war-mag {
	text-align: center;
	flex-wrap: wrap;
}
.breath-types{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 3%;
	grid-row-gap: 50px; 
}

.type {
	padding: 0 5% 0 5%;
}

.heightening-num {
	margin-top: 5%;
	line-height: 15px;
	text-align: center;
}

.heightening-num h4 {
	font-size: 20px;
}

/*Stormlight Archives*/

.sa-ban {
	background-color: black;
	background-image: url('../img/sa/sa_main.jpg');
	width: 100%;
	height: 100vh;
}
.stormlight-color {
	border-color: #b3ffff;
}

.surges {
	display: grid;
	grid-template-columns: .5fr 1fr 1fr;
	grid-column-gap: 5%;
	grid-row-gap: 20px;
}

.surges h4 {
	font-size: 18px;
}

.knights {
	text-align: center;
	margin: 0%;
}

.back {
	padding: 2%;
}

.radiant {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 5%;
	grid-row-gap: 20px;
	text-align: center;
}

.radiant img {
	height: 17vh;
}

.radiant h4 {
	font-size: 18px;
}

/*About*/

.border {
	border: solid 2px #01365b;
	border-radius: 5px;
	padding: 2%;
	margin-left: 10%;
	margin-right: 10%;
	line-height: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

.profile {
	height: 40vh;
	float: left;
    padding-right: 5%;
}

.brandon {
	padding-top: 5%;
}

.bran {
	display: block;
}

.footer {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.icons {
  	margin: 0 0 20px 0;
}

.icons li {
	display: inline-block;
    list-style-type: none;
	margin: 3%;
}

.icons a {
	font-size: 6vh;
	color: #01365b;
}

.icons a:hover {
	color: #a1ddff;
}

@media only screen and (max-width: 1100px) {
	/*General stuff*/
	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 17px;
	}

	h4 {
		font-size: 14px;
	}

	p {
		font-size: 12px;
	}

	.banner {
	display: block;
	width: 100%;
	justify-content: center;
	}

	h1.title{ 
		top: 10%;
		font-size: 60px;
		line-height: 60px;
	}

	.start {
		font-size: 20px;
	}

	.world {
		font-size: 15px;
	}

	.author_note {
		font-size: 12px;
	}
	/*Main stuff for Book series pages*/
	.summary {
		font-size: 12px;
		padding: 2%;
		border: solid 2px;
		border-radius: 5px;
		line-height: 15px;
		overflow: auto;
		height: 50vh;
	}

	.explore {
		font-size: 15px;
	}

	.images img {
		display: inline-block;
		height: 20vh;
		padding-bottom: 20px;
	}

	.section-headers {
		text-align: center;
		margin-left: 0%;
	}

	.magic {
		display: flex;
		justify-content: space-between;
		border: solid 2px #a30000;
		border-radius: 5px;
		padding: 2%;
		margin-left: 10%;
		margin-right: 10%;
	}


	/*Mistborn*/
	.mistborn-sum {
		border-color: #a30000;
	}

	.magic h3 {
	text-align: center;
	}

	.metals {
		display: grid;
		grid-template-columns: .25fr 1fr 1fr;
		grid-row-gap: 5px;
	}

	/*Elantris*/

	.elantris-color {
		border-color: #ffbc00;
	}

	.spell {
		flex-direction: column;
		text-align: center;
	}

	.aon {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-right: 10%;
		margin-left: 10%;
		grid-row-gap: 20px;
	} 

	.aon img {
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 30%;
	}

	 /*Warbreaker*/

	.warbreaker-color {
		border-image: linear-gradient(to bottom, red, orange, yellow, green, blue, purple);
		border-image-slice: 1;
	}

	.war-mag {
		text-align: center;
		flex-wrap: wrap;
		font-size: 10px;
	}

	.breath-types{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		font-size: 10px;
		margin: 3%;
		grid-row-gap: 25px; 
	}

	.heightening {
		text-align: center;
	}

	.heightening-num {
		width: 100%;
	}

	.heightening-num h4 {
		font-size: 15px;
	}

	/*Stormlight Archives*/

	.stormlight {
		flex-wrap: wrap;
	}

	.stormlight h3 {
		font-size: 18px;
	}

	.stormlight-color {
		border-color: #b3ffff;
	}

	.surges h4 {
		font-size: 16px;
	}

	.knights {
		flex-wrap: wrap;
	}

	.radiant {
		grid-template-columns: 1fr 1fr;
	}

	.radiant img {
		height: 5vh;
	}

	/*About*/

	.border {
		border: solid 2px #01365b;
		border-radius: 5px;
		padding: 2%;
		margin-left: 10%;
		margin-right: 10%;
		line-height: 20px;
		margin-left: 10%;
		margin-right: 10%;
	}

	.profile {
		height: 40vh;
	}

	.brandon {
		padding-top: 5%;
	}


	.icons a {
		font-size: 4vh;
	}
}

@media only screen and (max-width: 500px) {

	/*General stuff*/
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 15px;
	}

	h4 {
		font-size: 14px;
	}

	p {
		font-family: 'Lato';
		font-size: 12px;
	}

	h1.title{ 
		top: 5%;
		font-size: 35px;
		line-height: 30px;
	}

	.parallax {
		background-attachment: inherit;
	}

	.cosmere-intro {
		display: block;
		top: 25%;
		left: 25%;
		right: 25%;
		padding: 3%;
		width: 50%;
	}

	.start {
		font-size: 16px;
	}

	.roadmap {
		grid-template-columns: 1fr;
		grid-row-gap: 5%;
	}

	.roadmap a {
		padding: 5%;
	}

	.fas {
		padding: 3%;
	}

	.author_note {
		margin-top: 30%;
	}

	/*Main stuff for Book series pages*/
	.summary {
		flex-wrap: wrap;
		padding: 2%;
		text-align: center;
		border: solid 2px;
		border-radius: 5px;
		line-height: 15px;
		height: 300px;
		overflow: auto;
	}

	.images {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: 10%;
		margin-right: 10%;
	}

	.images img {
		display: inline-block;
		height: 20vh;
	}

	.magic {
		display: flex;
		justify-content: space-between;
		border: solid 2px #a30000;
		border-radius: 5px;
		padding: 2%;
		margin-left: 10%;
		margin-right: 10%;
	}


	/*Mistborn*/

	.mistborn-sum {
		border-color: #a30000;
	}

	.magic h3 {
	text-align: center;
	}

	.metals {
		display: grid;
		grid-template-columns: .5fr 1fr 1fr;
	}

	.metals h4 {
		font-size: 6px;
		/*transform: rotate(270deg);*/
		display: flex;
		justify-content: left;
		align-content: left;
	}

	/*Elantris*/

	.elantris-color {
		border-color: #ffbc00;
	}

	.spell {
		flex-direction: column;
		text-align: center;
	}

	.aondor {
		flex-wrap: wrap;
		margin-bottom: 50px;
	}

	.aondor h3 {
		text-align: center;
	}

	.aon {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-right: 10%;
		margin-left: 10%;
		grid-row-gap: 10px;
	} 

	.aon img {
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	width: 50%;
	}

	 /*Warbreaker*/

	.warbreaker-color {
		border-image: linear-gradient(to bottom, red, orange, yellow, green, blue, purple);
		border-image-slice: 1;
	}

	.war-mag {
		text-align: center;
		flex-wrap: wrap;
	}
	.breath-types{
		display: grid;
		grid-template-columns: 1fr;
		margin: 3%;
		grid-row-gap: 25px; 
	}

	.heightening {
		text-align: center;
	}

	.heightening-num {
		text-align: center;
		font-family: 'Cinzel';
		font-size: 10px;
	}

	.heightening-num h4 {
		font-size: 12px;
	}

	/*Stormlight Archives*/

	.stormlight-color {
		border-color: #b3ffff;
	}

	.surges {
		display: flex;
		flex-wrap: wrap;
	}

	.surges h4 {
		font-size: 14px;
	}

	.knights {
		margin: 0%;
		flex-wrap: wrap;
	}

	.radiant h4 {
		font-size: 12px;
	}

	.radiant img {
		height: 10vh;
	}

	/*About*/

	.border {
		border: solid 2px #01365b;
		border-radius: 5px;
		padding: 2%;
		margin-left: 10%;
		margin-right: 10%;
		line-height: 15px;
		margin-left: 10%;
		margin-right: 10%;
	}

	.profile {
		height: 20vh;
	}

	.brandon {
		padding-top: 5%;
	}

	.bran {
		display: none;
	}

	.icons a {
		font-size: 2vh;
	}
}