h1, h2, h3, h4 {
	font-family: "trajan-sans-pro", sans-serif;
}

p {
	font-family: Calibri
}

img {
	width: 20%
}

.banner {
	width: 100%;
}

nav {
	text-align: center;
	background-color: #9975b9;
	padding: 5px;
}

nav ul li {
	display: inline;
	margin: 50px;
}

nav a {
	text-decoration: none;
}

nav a:link {
	color: white;
}

